img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  max-width: 15%;
}

html {
    height: 100%;
}

.style1 {

}

body {
  background: url("Aloe-background.png") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
  font-size: 25px;
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-style: normal;
  font-weight: 400;
}

span {
  font-style: normal;
  font-weight: bolder;

}
